<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
     <bean name="address1" class="seekho.spring.model.Address" scope="prototype">
      <property name="city" value="Hisar" />
           <property name="state" value="Hariyana" />
     
     </bean>
      <bean id="emp1" class="seekho.spring.model.Employee" autowire="byType">
        <lookup-method name="applyAddress" bean="address1"/>
        </bean>
   

</beans>